*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body{
    background-color: #fcdefc;
    padding: 2px;
}

p {
    padding: 6px;
}

ul, li{
    margin: 10px;
}


.titulo{
    background-color: #7258b4;
    margin-top: 5px;
}

label{
    margin-bottom: 5px;
}

.uc-e-carrossel{
    display: flex;
    justify-content: space-between; /* espaço entre eles*/
    align-items: flex-start;
}

.carrossel{
    position: relative;
    margin-top: 5px;
    width: 295px;
    height: 295px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.carrossel img{
    position: absolute;
    width: 295px;
    height: 295px;
    object-fit: cover;
    display: none;
}

.carrossel img.principal{
    display: block;
}

.botao{
    background-color: #b4b4b4;
    opacity: 25%;
    position: absolute;
    top: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 27px;
    transform: translateY(-50%);
    transition: background-color 0.5s;
}

.botao:hover{
    background-color: #ffff;
}

#voltar{
    left: 3px;
}
#prox{
    right: 3px;
}

.redes-sociais{
    margin-top: 5px;
}

button{
    background-color: #7258b4;
    color: #ffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
    border-radius: 5px;
    margin: 2px;
    padding: 4px 8px;
}

input {
    width: 450px;
    padding: 2px 4px;
    font-size: 15px;
    border-radius: 5px;
    
}

#cpf {
    width: 130px;
}
#email {
    width: 170px;
}

